
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--background-light);
  border-bottom: 1px solid #cbd5e1; /* slate-200 */
  backdrop-filter: blur(10px);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.logoIcon {
  width: 2rem;
  height: 2rem;
  color: #475569; /* primary */
}
.logoText {
  font-weight: bold;
  font-size:2rem;
  color: rgb(73, 73, 246);
}
.nav {
  display: flex;
  gap: 2rem;
}
.nav a {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1e293b;
  text-decoration: none;
}
.nav a:hover {
  color: #475569;
}
.buttons {
  display: flex;
  gap: 1rem;
}
.login {
  font-weight: bold;
  color: #475569;
  padding: 0.5rem 1rem;
}
.getStarted {
  background-color: #475569;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
.getStarted:hover {
  background-color: #334155; /* accent */
}
